* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  background: #444242;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.clock {
  font-size: 3.7rem;
  height: 44vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43.5%;
  margin-top: 1.7rem;
  background: #131313;
  color: #f1f1f1;
  border-radius: 50%;
  border: 8px solid #444242;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.timer-btn {
  width: 9.7%;
  padding: 1rem 0;
  height: 10vh;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  margin: 1rem 0;
  transition: all ease .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1.7rem;
}

.timer-btn:hover {
  filter: brightness(.9);
  transform: scale(.9);
}

.timer-btn .image-btn {
  width: 100%;
}

.container-timer {
  background: #f2f2f2; 
  border-radius: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.container-settings-info {
  position: absolute;
  width: 100%;
  top: 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-title {
  display: flex;
  width: 57%;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;

  font-size: 2.3rem;
  position: absolute;
  top: 3%;
  left: 21%;
}

.container-study-and-break {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.label-break-and-study {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.modal-settings-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);

  color: #131313;
}

.modal-settings-container.show-modal {
  display: flex;
}

.modal {
  background: #f1f1f1;
  display: flex;
  height: 28rem;
  width: 38rem;
  border-radius: 5%;
  align-items: center;
  justify-self: center;
  position: relative;
}

.show-modal .modal {
  animation: animation-modal .3s;
}

@keyframes animation-modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background: none;
  transition: all ease .3s;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  background-color: #606060;
  color: #f1f1f1;
  border: 4px solid #f1f1f1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

.close-button:hover {
  transform: scale(.9);
}

.form-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding-left: 5rem;
}

.input-modal-settings {
  border: 0;
  background: none;
  border-bottom: 2px solid #141414;
  color: #f1f1f1;
  font-size: 1.7rem;
  padding-bottom: .7rem;
  color: #131313;
}

.input-modal-settings::placeholder {
  color: #6c6969;
}

.input-modal-settings, .button-form-settings, .close-button {
  outline: none;
}

.input-modal-settings::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button-form-settings {
  cursor: pointer;
  padding: .6rem 2rem;
  font-size: 1.1rem;
  border-radius: 27px;
  transition: all ease .3s;
  background-color: #606060;
  color: #f1f1f1;
  border: 4px solid #f1f1f1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

.button-form-settings:hover {
  filter: brightness(.9);
  transform: scale(.9);
}

#settins-btn {
  margin-left: 1rem;
}

#info-btn {
  margin-right: 1rem;
}

#settins-btn, #info-btn {
  width: 7%;
  margin-top: .5rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
  transition: all ease .3s;
}

#settins-btn:hover, #info-btn:hover {
  transform: scale(.9);  
}

.container-timer h1 {
  display: flex;
  align-items: center;
  justify-content: start;  
  width: 88%;
  padding-bottom: .7rem;
  padding-top: 1rem;

  border-bottom: 1.7px solid #141414;
}
